root = true

[**.js]

indent_style = space
indent_size = 2
jslint_happy = 1
keep_array_indentation = 1
space_before_conditional = 1

[**.css]
indent_style = space
indent_size = 2


[**.html]

indent_style = space
indent_size = 2
brace_style = expand
max_char = 78
unformatted = ["a", "sub", "sup", "b", "i", "u"]
